.carousel{
    margin-top: 110px;
    width: 100%;
    .carousel-item img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    @media(max-width:576px){
        width: 100%;
        height: auto;
    }
}
