.carousel{
    margin-top: 110px;
    width: 100%;
    .carousel-item img{
         @include anchoAlto(100%,600px);
        object-fit: cover;
    }
    @media(max-width:576px){
        @include anchoAlto(100%, auto);
    }
}
