.galeria{
    display: grid;
    grid-template-columns: repeat (2,1fr);
    grid-template-rows: repeat(5,300px);
    gap: 10px;
    margin-top: 30px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    button{
        border: 0;
        background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
        border-radius: 8px;
        color: white;
        justify-content: center;
        display: flex;
        font-size: 18px;
        padding: 4px;
        cursor: pointer;
        transition: 0.3s;
        
        span {
            background-color: #111;
            padding: 16px 24px;
            border-radius: 6px;
            transition: .3s;
            &:hover{
                background: none;
            }
        }
            &:active {
            transform: scale(0.9);
        }
    }
    .shadow{
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);    
        }
    }
    .img1{
        
        grid-area: img1; 
        background-image: url(../Multimedia/productos/Acrilico\ blanco.jpg);
        @include productosPropiedades(cover ,flex, column, end)
        
    }
    .img2{
        grid-area: img2;
        background-image: url(../Multimedia/productos/Acrilico\ color.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img3{
        grid-area: img3;
        background-image: url(../Multimedia/productos/Acrilico\ Cristal.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img4{
        grid-area: img4;
        background-image: url(../Multimedia/productos/caja\ bonaqua.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img5{
        grid-area: img5;
        background-image: url(../Multimedia/productos/cartel\ corporeo.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img6{
        grid-area: img6;
        background-image: url(../Multimedia/productos/Cartel\ deslizable.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img7{
        grid-area: img7;
        background-image: url(../Multimedia/productos/cartel\ direccional.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img8{
        grid-area: img8;
        background-image: url(../Multimedia/productos/display.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img9{
        grid-area: img9;
        background-image: url(../Multimedia/productos/Identificador.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img10{
        grid-area: img10;
        background-image: url(../Multimedia/productos/mampara\ proteccion.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img11{
        grid-area: img11;
        background-image: url(../Multimedia/productos/piezas\ especiales.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img12{
        grid-area: img12;
        background-image: url(../Multimedia/productos/Piezas\ industriales.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img13{
        grid-area: img13;
        background-image: url(../Multimedia/productos/portafolleto.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img14{
        grid-area: img14;
        background-image: url(../Multimedia/productos/portaFolleto3.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img15{
        grid-area: img15;
        background-image: url(../Multimedia/productos/portafolletoA4.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img16{
        grid-area: img16;
        background-image: url(../Multimedia/productos/Reconocimiento.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img17{
        grid-area: img17;
        background-image: url(../Multimedia/productos/Reconocimiento.jpg2.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img18{
        grid-area: img18;
        background-image: url(../Multimedia/productos/tubo\ color.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img19{
        grid-area: img19;
        background-image: url(../Multimedia/productos/tubos\ cristal.jpg);
        @include productosPropiedades(cover ,flex, column, end)

    }
    .img20{
        grid-area: img20;
        background-image: url(../Multimedia/productos/Urna.jpg);
        @include productosPropiedades(cover ,flex, column, end)

        
    }
    @media(max-width:768px){
        grid-template-columns: repeat (2,1fr);
        grid-template-rows: repeat (10,300px);
        grid-template-areas: "img1 img2"
                             "img3 img4"
                             "img5 img6"
                             "img7 img8"
                             "img9 img10"
                             "img11 img12"
                             "img13 img14"
                             "img15 img16"
                             "img17 img18"
                             "img19 img20"  
    }
    
    grid-template-areas: " img1  img2  img3   img4"
                         " img5  img6  img7   img8"
                         " img9  img10 img11 img12"
                         " img13 img14 img15 img16"
                         " img17 img18 img19 img20"
}                        
