@mixin productosPropiedades($background-size, $display, $flex-direction, $justify-content){
    background-size: $background-size;
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}
@mixin anchoAlto($width, $heigh){
    width: $width;
    height: $heigh;

}
