.piePagina{
    background-color:rgba(35, 35, 36, 0.966);
    color: white;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    .info {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .logo img{
            float: left;
            margin: 5px;
        }
    }
    .contactos{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .mapa{
            width: 70%;
            height: 200px;
        }
        
    }
    .redes i{
        font-size: 30px;
        margin: 10px;
        @media(max-width:768px){
            grid-column: auto;
        }
    }
    @media(max-width:768px){
        grid-template-columns: 1fr;
    }
}